.login{
    height: calc(100vh-50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: left;
    justify-content:center;
    background:
    url("https://media.istockphoto.com/photos/blank-note-book-paper-pen-and-hand-holding-a-coffee-cup-on-white-picture-id1203690129");
   background-size:cover;
        width: 100vw;
        height: 600px;
    
        
}

.loginTitle{
    font-size: 50px;
}

.loginForm{
    margin-top:100px ;
    display: flex;
    flex-direction: column;
}

.loginForm>label{
    margin: 10px 0;
}

.loginInput{
    padding: 10px;
    background-color: white;
    border: none;
}

.loginButton{
    margin-top:20px;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.loginRegisterButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: teal;
    cursor: pointer;
    padding: 10px;
    color: white;
    border-radius: 10px;
}

